* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 20%; 
}
h1{
    margin-top: 3%;
    font-size: 55%; 
    text-align: center;
}
section {
 position: relative;
 border: 1px solid black;
 margin: 1px;
 background-color: grey;
 padding-top: 40px;
 padding-left: 0px;
 width: 50px;
 height: 50px;
}
#sec1 {
    margin: 1%;
    margin-top: 4%;
    margin-left: 2%;
}
#sec2 {
    margin: 1%;
    margin-top:4%;
    margin-left: 2%;
}
#sec3 {
    margin: 1%;
    margin-top:4%;
    margin-left: 2%;
}

h2{
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid #000000;
    width: 150px;
    height: 25px;
    text-align: center;
    color: black;
    font-size: 25%;
}

p{
    margin-bottom: 15px;
    width: 95%;
    height: 150;
    margin-right: auto;
    margin-left: auto;
    color: black;
    text-align: justify;
}


#pasta{
    
    background-color: rgb(242, 252, 152);
}
#pizza{
    background-color: lawngreen;
}
#burger{
    background-color: lightsalmon;
}

@media(min-width: 768px) and (max-width: 991px){
    #sec1, #sec2, #sec3 {
        float: left;
    }
    #sec1 {
    width: 50%;
    height: 200px;
    margin-left: 20px;
     }
     #sec2 {
    width: 50%;
    height: 200px;
    margin-left: 20px;
    }
    #sec3 {
    width: 95%;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
     }
}
@media(min-width: 992px) {
    #sec1, #sec2, #sec3 {
        float: left;
    }
    #sec1 {
        width: 30%;
        height: 250px;
    }
    #sec2 {
        width: 30%;
        height: 250px;
    }
    #sec3 {
        width: 30%;
        height: 250px;
    }
}
@media (max-width: 767px) {

    #sec1,
    #sec2,
    #sec3 {
      float: left;

    }

    #sec1 {
      width: 90%;
      height: 250px;
      margin-left: 20px;
      margin-right: 20px;
    }

    #sec2 {
      width: 90%;
      height: 250px;
      margin-left: 20px;
      margin-right: 20px;
    }

    #sec3 {
      width: 90%;
      height: 250px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }